DB_HOST="193.203.184.147"
DB_NAME=u280756391_tester
DB_USER=u280756391_tester
DB_PASSWORD=KHAtarnak@@98
DB_PORT=3306
REFRESH_SECRET="kafela_refresh_secret"
TOKEN_SECRET="kafela_token_secret"
NODE_ENV="production"
# Comma-separated list of allowed frontend origins
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173"


SMTP_HOST="smtp.hostinger.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="info@wporderplus.com"
SMTP_PASS="Digitalglobal!2"
MAIL_FROM_NAME="Kafela Mart"
MAIL_FROM_EMAIL="info@wporderplus.com"
MAIL_BRAND_NAME="Kafela Mart"
MAIL_SUPPORT_EMAIL="digitaleverbd@gmail.com"
APP_LOGIN_URL="https://kafelamart.digitalever.com.bd/login"
ORIGIN_URL="https://kafelamart.digitalever.com.bd"
# APP_BASE_URL="kafelamart.digitalever.com.bd"
APP_BASE_URL="kafelamart.digitalever.com.bd"
NOTIFICATION_EMAIL_ENABLED=true


